@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center titre col-md-9">
    <h1 class="display-3 titreText ">K'rot</h1>
</div>
<img src="~/style/images/store.png" class="imageAccueil" />

