@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center titre col-md-9 ">
    <span id="animationSandbox" class="zoomIn">
        <h1 class="display-3 titreText animated infinite bounce delay-2s">K'rot</h1>
    </span>
</div>
<img src="~/style/images/store.png" class="imageAccueil" />

